/*
	========================================
	General Customations
	========================================
*/
/*
body {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,237,199,1) 35%, rgba(0,212,255,1) 100%);
}
*/

.container-fluid {
	padding: 0 50px 0 50px;
	max-width: 800px
}

.page{
	padding-top: 100px;
	height: 1400px
}

.media {
	width:100%;
	border-radius: 20px;
	vertical-align: top;
}

.media + figcaption {
	text-align: center
}

page:last-child {
	padding-bottom: 400px
}

.mb-3 {
	padding-right:15px;
	padding-left:15px
}

/*
	========================================
	Navbar Customisations
	========================================
*/
.navbar div a {
	color: white
}

.navbar div a:hover {
	color: black
}
